.mejorcluster {

  width: 95%;
  margin: 10px auto;
  clear: both;

  text-align: center;

  .mejorcluster-item {
    display: inline-table;
    overflow: hidden;
    h1,h2,h3,h4,h5,h6,p { display: block; width: auto !important; }
  }

}

.mejorcluster-shadow {
  .mejorcluster-item {

    margin-bottom: 15px;

    box-shadow: 0 0 12px 0 #e6e6e6;
    box-sizing: border-box;
    -webkit-transition: box-shadow .3s ease;
    transition: box-shadow .3s ease;
    &:hover {
      box-shadow: 0 0 18px 0 #c7c7c7;
    }

    .mejorcluster-item-text { padding: 0 1rem; }

  }
}

.mejorcluster-round {
  .mejorcluster-item {
    border-radius: 10px;
  }
}

.mejorcluster-round-image .mejorcluster-item img {
  border-radius: 10px;
}

.mejorcluster-display-image
{
  .mejorcluster-item
  {
    margin-bottom: 15px;

    .mejorcluster-item-header { float: none; }

    .mejorcluster-image {
      width: 100%;
      height: 250px;
      object-fit:cover;
    }

    .mejorcluster-title {
      margin-top: 5px;
      margin-bottom: 10px;
      text-align: center;
    }

  }
}

.mejorcluster-grid-1 .mejorcluster-item {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1024px) {
  .mejorcluster-grid-2 .mejorcluster-item {
    width: 48%;
    margin-right: 1%;
  }

  .mejorcluster-grid-3 .mejorcluster-item {
    width: 31%;
    margin-right: 2%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mejorcluster-grid-3 .mejorcluster-item , .mejorcluster-grid-2 .mejorcluster-item {
    width: 48%;
    margin-right: 1%;
  }
}

@media screen and (max-width: 768px) {

  .mejorcluster-grid-3 .mejorcluster-item , .mejorcluster-grid-2 .mejorcluster-item {
    width: 98%;
    margin: 2rem auto;
  }

}
